
<div id="home">
  <div id="artist-form">
    <form action="/artist-search" method="GET">
      <label for="artist">
        <input name="artist" type="text" id="artist" />
      </label>
      <button type="submit">Search for an artist</button>
    </form>
  </div>
</div>